.happyChuckNorris {
    max-width: 20em;
    transition: opacity 5s ease-in-out;
    margin: 2em;
}
#title {
    background-color: #04aa6d45;
}

h4 {
    font-size: 40px;
}
#jokeDisplayed {
    background-color: rgba(0, 255, 255, 0.498);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

img {
    float: right;
    animation: fadeIn 1s ease-in-out;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

header {
    font-size: 100px;
}

.disappointedChuck {
    max-width: 20em;
}

body {
    background-color: rgba(0, 0, 0, 0.562);
}
#container {
    display: flex;
    border: #04AA6D;
    color: rgb(14, 19, 2);
    width: 80vw;
    height: 30rem;
    padding: 2rem;
    align-content: center;
    text-align: center;
}

#jokeDisplayed {
    font-size: larger;
    font-weight: 800;
}