.happyChuckNorris {
    max-width: 20em;
    transition: opacity 5s ease-in-out;
    margin: 2em;
}

#title {
    background-color: #04aa6d45;
}

#dogImage {
    max-width: 20rem;
    max-height: 20rem;
}

#imageContainer {
    flex: column;
    justify-content: space-between;
}

h4 {
    font-size: 40px;
}

#jokeDisplayed {
    background-color: rgba(0, 255, 255, 0.498);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

img {
    float: right;
    animation: fadeIn 1s ease-in-out;
}

#dogButton {
    width: fit-content;
    overflow: hidden;
}

#header {
    font-size: 5rem;
}

button {
    border: 4px solid rgb(0, 223, 216);
    max-height: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #04AA6D;
    border-radius: 15px;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #id {
    display: flex;
    flex: column;
    justify-content: space-between;
  }

header {
    font-size: 100px;
}

#ChuckNorrisQuestion {
    flex: column;
    justify-content: space-between;
}

#musicAndJokes {
    display: flex;
    flex: column;
    justify-content: space-between;
}

.disappointedChuck {
    max-width: 20em;
}

body {
    background-color: rgba(0, 0, 0, 0.562);
}
#container {
    display: flex;
    flex: column;
    justify-content: space-between;
    border: #04AA6D;
    color: rgb(14, 19, 2);
    width: 80vw;
    height: 30rem;
    padding: 2rem;
    align-content: center;
    text-align: center;
}

#jokeDisplayed {
    display: flex;
    flex: column;
    justify-content: space-between;
    font-size: larger;
    font-weight: 800;
}